body {
  font-family: "Roboto", system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  width: min(800px, 100% - 4rem);
  margin: 0 auto;
  background-color: #4a4a4a;
  color: #fff;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 2rem;
}

/* NAV  */

header {
  background-color: black;
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

header h1 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
  line-height: 100%;
  font-weight: 400;
}

header a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mobile-nav-toggle {
  display: none;
}

ul[class] {
  list-style: none;
  margin: 0;
}

.primary-nav {
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.primary-nav li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.primary-nav li a:hover {
  text-decoration: 1px underline;
  color: #9cf194;
}

/* QUOTES  */

.quote-container,
.quote-card {
  background-color: #ffffff;
  color: #333;
  border-radius: 1rem;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.quote-container h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 400;
}

#quote {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  line-height: 120%;
  margin: 0;
}

#author {
  font-style: italic;
  font-size: 1.1rem;
}

.quotes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
}

.font-family-slab {
  font-family: "Roboto Slab", serif;
}


/* CONTACT  */

.contact-form {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin: 2rem;
}

.content img {
  display: block;
  max-width: 10rem;
  mix-blend-mode: lighten;
}

.contact-form h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.contact-form p {
  font-size: 2rem;
  line-height: 120%;
  margin-top: 0.5rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #333;
  border-radius: 1rem;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #999;
  border-radius: 5px;
}

button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #9cf194;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  filter: opacity(0.8);
}

footer {
  text-align: center;
  padding: 0.7rem;
  background-color: #555;
  color: #fff;
  font-size: 0.8rem;
}

@media (max-width: 48rem) {
  .primary-nav {
    position: fixed;
    inset: 0 0 0 30%;

    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2rem);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    flex-direction: column;
    gap: 2rem;
    padding: min(30vh, 10rem) 2rem;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;

    position: absolute;

    z-index: 9999;
    top: 2rem;
    right: 4rem;

    border: 0;
    width: 1rem;
    /* aspect-ratio: 1; */
    filter: brightness(100);

    background-color: transparent;
    background-image: url("../images/hamburger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../images/cross.svg");
    position: fixed;
  }

  .contact-form {
    flex-wrap: wrap;
  }
}
