/* html {
  color-scheme: light dark;
} */

/* main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
} */

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

html,
body {
  margin: 0;
  background-color: #f7f7f7;
  color: #333333;
  font-family: Inter, system-ui;
  /* font-size: 1.125rem; */
  line-height: 1.5;
}

.container {
  max-width: 880px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

figure {
  margin: 20px 0;
  width: 100%;
}

figcaption {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
}


a {
  color: #000;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;

  height: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card--content ul {
  padding: 0;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 0.7rem;
  transition: 300ms;
  border-radius: 0.4rem;
}

nav ul li a:hover {
  background-color: #f2f2f2;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  gap: 2rem;
}

.profile-photo {
  max-width: 140px;
  height: fit-content;
}

.flag {
  width: 140px;
  height: fit-content;
}

.myname {
  font-weight: 300;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 2px 8px #cccccc;
  background-color: #ffffff;
}

.card--title {
  display: block;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 24px 40px 20px 40px;
  background-color: #333;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  margin: 0;
}

.card--content {
  padding: 20px 40px;
}

.card--content ul {
  padding: 0;
}

footer {
  display: flex;
  gap: 2rem;
  text-align: center;
  padding-bottom: 20px;
  justify-content: center;
}

@media (width < 900px) {
  .container {
    justify-content: flex-start;
    margin: 1.5rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;
    gap: 0;
  }
}
